@use "variables.scss" as vars;
@use "helpers.scss" as help;

.btn
{
    display: block;
    background: vars.$primary;
    color: vars.$white;
    min-width: help.rem(250px);
    max-width: help.rem(290px);
    text-align: center;
    align-items: center;
    padding: help.rem(25px) help.rem(5px);
    border-radius:40px;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn:hover
{
    color: vars.$white !important;
    transform: translateY(-2px) scale(1.02);
}

.section-primary .btn
{
    background: vars.$white;
    color: vars.$primary;
    &:hover {color: vars.$primary !important;}
}

@media only screen and (max-width:vars.$container-size)
{
    .btn
    {
        min-width: help.rem(200px);
        padding: help.rem(20px) help.rem(5px);
    }
}