@use "variables" as vars;

.container
{
    width: 100%;
    padding-left: vars.$container-calc-padding;
    padding-right: vars.$container-calc-padding;

    @media only screen and (max-width: vars.$container-size)
    {
        padding-left: vars.$container-padding;
        padding-right: vars.$container-padding;
    }
}

.container-fluid
{
    width: 100%;
    padding-left: vars.$container-fluid-calc-padding;
    padding-right: vars.$container-fluid-calc-padding;

    @media only screen and (max-width: vars.$container-size-fluid)
    {
        padding-left: vars.$container-padding;
        padding-right: vars.$container-padding;
    }
}