/*
@font-face {
    font-family: 'RobotoSlab';
    src: local('RobotoSlab Regular'), local('RobotoSlab-Regular'),
        url('@/fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('@/fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/