@use "variables.scss" as vars;
@use "helpers.scss" as help;

.heading
{
    display: flex;
    flex-direction: column;
    gap: help.rem(20px);
}

.heading.section-heading .heading-title
{
    display: flex;
    align-items: center;
    gap: help.rem(5px);
    font-weight: 700;
    line-height: 1.2;
    color: vars.$color-secondary;
    @include help.fontsize(20px);

    &.center
    {
        justify-content: center;
    }
}

.heading.section-heading .heading-title::before
{
    display: inline-block;
    content: "//  ";
    margin-right: 5px;
}

.heading.section-heading .inner-text
{
    display: inline-block;
}

.heading-description
{
    @include help.fontsize(24px);
}

@media only screen and (max-width:vars.$container-size)
{
    .heading-description
    {
        @include help.fontsize(22px);
    }

    .heading.section-heading .heading-title
    {
        justify-content: center;
    }
}