@use "variables.scss" as vars;

*,*::before,*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img
{
    max-width: 100%;
    height:auto;
    display: block;
}

a
{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    opacity: 1;
    transition: color ease .3s;
}

a:not(.custom-button):hover
{
    color: vars.$primary;
}

textarea
{
    color: inherit;
    font-family: inherit;
    resize: vertical;
    opacity: 1;
}

ul
{
    //list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.reset-list ul,
ul.reset-list
.reset-list ol,
ol.reset-list
{
    list-style: none;
    padding-left: 0;
}

fieldset
{
    border: 0;
}

button
{
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
}

strong
{
    font-weight: 700;
}

.section-dark strong
{
    color: vars.$primary;
}

.custom-select
{
    position: relative;

    &::after
    {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 11px;
        height: 6px;
        background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTEgNiI+CiAgPHBhdGggaWQ9IlBvbHlnb25lXzciIGRhdGEtbmFtZT0iUG9seWdvbmUgNyIgZD0iTTUuNSwwLDExLDZIMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExIDYpIHJvdGF0ZSgxODApIiBmaWxsPSIjODQ5NjZhIi8+Cjwvc3ZnPgo=") no-repeat;
        background-size: contain;
    }
}

.custom-select select
{
    display:block;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    padding-right: 40px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: vars.$primary;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    padding: 20px 30px;
    border: solid 1px vars.$primary;
    margin: 0;
}

.responsive-iframe
{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.preload-transitions .form-background
// .preload-transitions .element-name
{
    $null-transition: none !important;

    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}