// SCSS variables
$dark: #141414;
$white: #FFFFFF;

$background: $white;
$background-secondary: #242222;

$color: $dark;
$color-secondary : #7C7C7C;
$primary :#FFB400;
$secondary : #242222;

$section-mobile-padding : 60px;
$gap : $section-mobile-padding;

$topbar-height : 140px;
$topbar-height-mobile : 90px;
$admin-topbar-height : 30px;
$topbar-breakpoint : 1200px;

$container-padding: 15px;

$container-size: calc(1360px + ($container-padding * 2));
$container-size-fluid : calc(1640px + ($container-padding * 2));

$container-calc-padding: calc(50% - ($container-size / 2));
$container-fluid-calc-padding: calc(50% - ($container-size-fluid  / 2));

$container-size-full : calc(2200px + ($container-padding * 2));
$container-full-calc-padding: calc(50% - ($container-size-full  / 2));

$font-family : "Antenna", sans-serif;
$font-family-secondary: "Antenna", sans-serif;
$font-size : 18px;
$font-size-mobile : 16px;

$line-height: 1.5;
$line-height-mobile: $line-height;

$extra: 480px;
$mobile : 767px;
$tablet : 1024px;
$desktop : 1600px;
$large : 1920px;