$dark: #141414;
$white: #FFFFFF;

$background: $white;
$background-secondary: #FBFBFB;

$color: $dark;
$color-secondary : $white;
$primary :#97D246;
$secondary : #B6C2B0;

$section-mobile-padding : 60px;

$topbar-height : 90px;
$topbar-height-mobile : 90px;
$admin-topbar-height : 30px;

$container-padding: 15px;
$container-size: calc(1400px + ($container-padding * 2));
$container-size-fluid : calc(1640px + ($container-padding * 2));
$container-calc-padding: calc(50% - ($container-size / 2));
$container-fluid-calc-padding: calc(50% - ($container-size-fluid  / 2));

$font-family : "Helvitica", sans-serif;
$font-family-secondary: "Helvitica", sans-serif;
$font-size : 20px;
$font-size-mobile : 16px;

$line-height: 1.5;
$line-height-mobile: $line-height;

$extra: 480px;
$mobile : 767px;
$tablet : 1024px;
$desktop : 1600px;
$large : 1920px;