@use "../../variables.scss" as vars;
@use "../../helpers.scss" as help;

:root
{
    --navbar-padding: 15px
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    background: vars.$secondary;
    height: vars.$topbar-height;
    gap: help.rem(80px);
    transition: all 0.3s ease;
}

.admin-bar .navbar
{
    top: help.rem(32px);
}

body.scrolled .navbar
{
    height: vars.$topbar-height-mobile;
}

.navbar::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FCFBFC;
    opacity: 0.2;
}

.navbar-brand
{
    display: flex;
    flex: none;
    height: 100%;
    padding-top: var(--navbar-padding);
    padding-bottom: var(--navbar-padding);
}

.navbar-brand img
{
    object-fit: contain;
}

.navbar-listing
{
    display: flex;
    gap: help.rem(50px);
    list-style: none;
    color: vars.$white;
    font-weight: 400;
    @include help.fontsize(20px);
}

.navbar-listing-item
{
    position: relative;
    padding-top: var(--navbar-padding);
    padding-bottom: var(--navbar-padding);
}

.navbar-listing-item,
.navbar-listing-link
{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-listing-item::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: vars.$primary;
    height: 5px;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}

.navbar-listing-item:not(:has(.btn)):hover::after
{
    transform: scaleX(1);
    transform-origin: top left;
}

.navbar-listing-link.btn
{
    height: auto;
}

.menu-child
{
    list-style: none;
}

.menu-child-link
{
    padding: help.rem(15px) 0;
    width: 100%;
}

@media only screen and (min-width:vars.$topbar-breakpoint)
{
    .menu-child
    {
        display: none;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 50%;
        background-color: vars.$white;
        color: vars.$color;
        list-style: none;
        padding: help.rem(40px) help.rem(30px);
        transform: translateX(-50%);
        white-space: nowrap;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    }

    .menu-child::before
    {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: vars.$white;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .navbar-listing-item.parent:hover .menu-child
    {
        display: flex;
        visibility: visible;
    }

    .menu-child-item
    {
        font-weight: 400;

        &:not(:first-child) { border-top: solid #E4E4E4 1px; }
        &:first-child{
            padding-top: 0;
        }
        &:last-child
        {
            padding-bottom: 0;
        }
    }
}

@media only screen and (max-width:vars.$topbar-breakpoint)
{
    .navbar-listing
    {
        font-size: 1rem;
        position: fixed;
        top: vars.$topbar-height;
        left: 0;
        width: 100%;
        height: calc(100% - vars.$topbar-height);
        //height: 100%;
        flex-direction: column;
        background: vars.$secondary;
        z-index: 200;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: help.rem(vars.$gap);
        transform: translateX(-100%);
        transition: transform .3s ease;
    }

    body.menu-open .navbar-listing
    {
        transform: translateX(0);
    }

    .navbar-listing-item,
    .navbar-listing-link
    {
        height: auto;
    }

    .navbar-listing-item
    {
        display: flex;
        flex-direction: column;
    }

    body.is-scrolled .navbar-listing
    {
        top: vars.$topbar-height-mobile;
        height: calc(100% - vars.$topbar-height-mobile);
    }

    .menu-child
    {
        position: relative;
        text-align: center;
        border-left: solid rgba($color: #E4E4E4, $alpha: .4) 2px;
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: .8rem;
    }
}

@media only screen and (max-width:vars.$mobile)
{
    .navbar
    {
        padding-top: help.rem(10px);
        padding-bottom: help.rem(10px);
        gap: help.rem(40px);
        height: vars.$topbar-height-mobile;
    }

    .navbar-brand
    {
        padding-top: 0;
        padding-bottom:0;
    }
}