@use "../../variables.scss" as vars;
@use "../../helpers.scss" as help;

.navbar-button
{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: none;
    width: 40px;
    height: 40px;
    background: transparent;
    align-self: center;

    @media only screen and (max-width:vars.$topbar-breakpoint)
    {
        display: flex;
    }
}

.navbar-button span,
.navbar-button::before,
.navbar-button::after
{
    display: block;
    width: 100%;
    height: 2px;
    background: vars.$white;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-button::before,
.navbar-button::after
{
    content: "";
    width: 100%;
    top: 0px;
    left: 0;
    color: vars.$white;
}

body.menu-open,
.navbar-button:hover
{
    cursor: pointer;
    align-items: center;
    span {opacity: 0;}

    &::before,
    &::after
    {
        transform: rotate(43deg);
        transform-origin: top left;
    }

    &::after
    {
        transform: rotate(-45deg);
    }
}