hr
{
    border: none;
    display: block;
    width: 100%;
    height: 1px;
    background: $dark;
}

.pagination-wrapper
{
    width: 100%;
    margin-top: _rem(110px);

    .pagination
    {
        display: flex;
        justify-content: center;
        font-weight: 300;
    }

    .pagination-item
    {
        &.active
        {
            color: $primary;
        }
        
        &:not(:last-child)::after
        {
            content: "-";
            display: inline-block;
            height: 1px;
            color: $dark;
            margin: 0 5px;
        }
    }

    @media only screen and (max-width:$mobile)
    {
        margin-top: $section-mobile-padding;
    }
}
