.title-secondary
{
    @include fontsize(100px);
    font-weight: 200;
    line-height: 1;

    &.title-secondary-tiny
    {
        @include fontsize(80px);
    }

    @media only screen and (min-width:$tablet)
    {
        @include fontsize(120px);

        &.title-secondary-tiny
        {
            @include fontsize(100px);
        }
    }

    @media only screen and (min-width:$large)
    {
        @include fontsize(140px);

        &.title-secondary-tiny
        {
            @include fontsize(120px);
        }
    }

    @media only screen and (max-width:$mobile)
    {
        @include fontsize(60px);

        &.title-secondary-tiny
        {
            @include fontsize(50px);
        }
    }
}

.title-ternary
{
    @include fontsize(36px);
    font-weight: 500;
    line-height: 1.16;
}

.section-heading
{
    margin-bottom: _rem(100px);
    &.no-margin-bottom
    {
        margin-bottom: 0;
    }
    .section-title
    {
        text-transform: uppercase;
    }

    .section-subtitle
    {
        max-width: 420px;
        margin-left: auto;
        margin-top: 50px;

        &.section-subtitle-full
        {
            max-width: 1040px;
        }

        &.section-subtitle-full-left
        {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width:$mobile)
{
    .title-secondary
    {
        @include fontsize(60px);
    }

    .title-ternary
    {
        @include fontsize(22px);
    }

    .title-with-arrow-icon
    {
        @include fontsize(26px);
        justify-content: center;
    }

    .section-heading-row
    {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 30px;

        .section-heading-title
        {
            max-width: 775px;
            width: 100%;
        }

        .section-heading-text
        {
            max-width: 420px;
            width: 100%;
        }
    }

    .section-heading
    {
        margin-bottom: $section-mobile-padding;
        &.no-margin-bottom
        {
            margin-bottom: 0;
        }
        .section-title
        {
            text-align: center;
        }

        .section-subtitle
        {
            margin-right: auto;
            margin-top: 30px;
            text-align: center;
        }
    }
}
