$dark: #141414;
$white: #FFFFFF;

$background: $white;
$background-secondary: #FBFBFB;

$color: $dark;
$color-secondary : $white;
$primary :#97D246;
$secondary : #B6C2B0;

$section-mobile-padding : 60px;

$topbar-height : 90px;
$topbar-height-mobile : 90px;

$container-padding: 20px;
$container: calc(1400px + ($container-padding * 2));
$containerFluid : calc(1640px + ($container-padding * 2));

$font-family : "Helvitica", sans-serif;
$font-family-secondary: "Helvitica", sans-serif;
$font-size : 20px;
$font-size-mobile : 16px;

$line-height: 1.5;
$line-height-mobile: $line-height;

$extra: 600px;
$mobile : 900px;
$tablet : 1190px;
$desktop : 1360px;
$large : 1850px;

$menu-width : 745px;