@font-face {
    font-family: 'Antenna';
    src: local('Antenna ExtraLight'), local('Antenna-ExtraLight'),
        url('Antenna-ExtraLight.woff2') format('woff2'),
        url('Antenna-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Regular'), local('Antenna-Regular'),
        url('Antenna-Regular.woff2') format('woff2'),
        url('Antenna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna LightItalic'), local('Antenna-LightItalic'),
        url('Antenna-LightItalic.woff2') format('woff2'),
        url('Antenna-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna BoldItalic'), local('Antenna-BoldItalic'),
        url('Antenna-BoldItalic.woff2') format('woff2'),
        url('Antenna-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna ExtraLightItalic'), local('Antenna-ExtraLightItalic'),
        url('Antenna-ExtraLightItalic.woff2') format('woff2'),
        url('Antenna-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Thin'), local('Antenna-Thin'),
        url('Antenna-Thin.woff2') format('woff2'),
        url('Antenna-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna RegularItalic';
    src: local('Antenna RegularItalic'), local('Antenna-RegularItalic'),
        url('Antenna-RegularItalic.woff2') format('woff2'),
        url('Antenna-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Bold'), local('Antenna-Bold'),
        url('Antenna-Bold.woff2') format('woff2'),
        url('Antenna-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna MediumItalic'), local('Antenna-MediumItalic'),
        url('Antenna-MediumItalic.woff2') format('woff2'),
        url('Antenna-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Medium'), local('Antenna-Medium'),
        url('Antenna-Medium.woff2') format('woff2'),
        url('Antenna-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Light'), local('Antenna-Light'),
        url('Antenna-Light.woff2') format('woff2'),
        url('Antenna-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna Black'), local('Antenna-Black'),
        url('Antenna-Black.woff2') format('woff2'),
        url('Antenna-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: local('Antenna BlackItalic'), local('Antenna-BlackItalic'),
        url('Antenna-BlackItalic.woff2') format('woff2'),
        url('Antenna-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

