@use "../../variables.scss" as vars;
@use "../../helpers.scss" as help;

.home .section.section-about
{
    display: flex;
    flex-direction: column;
    gap: help.rem(35px);
    padding-top: help.rem(180px);
    padding-bottom: help.rem(170px);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDU2Ljk5OSIgaGVpZ2h0PSI3MDMiIHZpZXdCb3g9IjAgMCA0NTYuOTk5IDcwMyI+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+CiAgICAgIDxwYXRoIGlkPSJUcmFjw6lfOSIgZGF0YS1uYW1lPSJUcmFjw6kgOSIgZD0iTTIyOS4wODcsMi4zMzFjLTEuNjg5LDIzLjA0OC0uNTk1LDQyLjYtNC45NzEsNjYuMTcxQzIwNC42ODMsMTczLjExLDEzNC4xMzYsMjI3LjQ1OSw3MS40MzcsMzA0LjE0MywyMS41ODMsMzY1LjEyOS02Ljc2OSw0MjcuOTk0LDEuMzksNTA5LjE0OSwxMC4xNDMsNTk2LjQ0Miw4MC45LDY4MC44OCwxNjYuMiw3MDIuMDcyYy00Mi41LTU0LjI3OC01NC4zNzMtMTI4LjQ4OC0zNC4zNy0xOTQuMzc0LDYuNTQxLTIxLjQ1NCwxNy4zODctNDIuODg1LDI5LjQ0Ni02MS43LDM3LjItNTguMTU1LDk1LjMwOC05MS4xLDEyOC4xMDgtMTUyLjY1NEMzNDMuOCwxOTEuMTE1LDMwNC4yNzIsNzkuNTYyLDIzMC40NDMuMDcxQTMuNTA5LDMuNTA5LDAsMCwwLDIyOS44MjQsMGMtMS4yNjEsMC0uNjQyLDEuMTQyLS43MzcsMi4zMzEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjAwMSkiIGZpbGw9IiNmY2ZiZmMiLz4KICAgIDwvY2xpcFBhdGg+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aC0yIj4KICAgICAgPHBhdGggaWQ9IlRyYWPDqV8xMCIgZGF0YS1uYW1lPSJUcmFjw6kgMTAiIGQ9Ik0xOTIuOTA3LDU0LjM2M0MxNzMuODc5LDE2Ni4wMTIsNjAuNjg0LDIwNC41NDQsMjAuOTE1LDMwNC40MTksMS4wNzgsMzU0LjE3OCwyLjQzNCw0MDkuNzg4LDIzLjY1MSw0NTguODMzYzYuNzc5LDE1LjYyNywxNi4xNSwzMi4yMjksMjguNCw0NC4wNTEtNi44NS0zMy41NjEtMy41OTItNjQuNTA2LDEyLjMtOTQuODMyLDMxLjUzOS02MC4wODIsODguODg2LTc5LjMyNCwxMzQuMTI2LTEyMy4zNzUsMjcuNjM5LTI2Ljk0OSw1MC4xNjMtNjAuOTYyLDU2LjU4NS05OS43NTYsMTAuNjMyLTY0LjUzLTIyLjkyOS0xMjYuMjc2LTU5LjkxNS0xNzYuMTc4LS4wNDgsMTUuNTA4LjQsMzAuMTg0LTIuMjM2LDQ1LjYyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNi44NSAtOC43NDMpIiBmaWxsPSIjZmNmYmZjIi8+CiAgICA8L2NsaXBQYXRoPgogICAgPGNsaXBQYXRoIGlkPSJjbGlwLXBhdGgtMyI+CiAgICAgIDxwYXRoIGlkPSJUcmFjw6lfMTEiIGRhdGEtbmFtZT0iVHJhY8OpIDExIiBkPSJNMjAxLjUyLDQyLjMzMUMxODkuNjI3LDc4LjY1MSwxNjcuMiwxMTAuMzU3LDEzOC44LDEzNS41LDc4Ljg4MywxODguNTE1LDMuMDc5LDIwNS45MjYsMTAuNzYyLDMwMy43NzljLjI4NSwzLjkyNCwyLjA5Myw3LjM3MywxLjg1NSwxMS4zNDYsMzQuMi0yLjI4Myw2OC4xOTMtMTQuMDgxLDk3Ljc4Mi0zMS4xMzUsMzYuNzQ4LTIxLjIxNiw2OS45MjktNTUuNDQ0LDg5LjUyOC05My4yMzlDMjIzLjU2OSwxNDUuMTc4LDIzMC45LDkwLjIzNCwyMTcuMzg1LDQwLjUyM2MtMi4xNjQtNy45MjEtNS40NzEtMTUuODQxLTguNC0yMy41LTMuNTY4LDcuODQ5LTQuNzMzLDE2Ljk4My03LjQ2OSwyNS4zMDgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMC4yMjEgLTE3LjAyMykiIGZpbGw9IiNmY2ZiZmMiLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgogIDxnIGlkPSJHcm91cGVfMTQiIGRhdGEtbmFtZT0iR3JvdXBlIDE0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTQwLjAwMSAtNDgpIiBvcGFjaXR5PSIwLjAyIj4KICAgIDxnIGlkPSJHcm91cGVfMTEiIGRhdGEtbmFtZT0iR3JvdXBlIDExIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDAuMDAxIDQ4KSI+CiAgICAgIDxnIGlkPSJHcm91cGVfMyIgZGF0YS1uYW1lPSJHcm91cGUgMyIgY2xpcC1wYXRoPSJ1cmwoI2NsaXAtcGF0aCkiPgogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfNSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgNSIgd2lkdGg9IjM1MC41NzIiIGhlaWdodD0iNzAyLjA3MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYuNzY5IC0wLjAwNykiIGZpbGw9IiNmY2ZiZmMiLz4KICAgICAgPC9nPgogICAgPC9nPgogICAgPGcgaWQ9Ikdyb3VwZV8xMiIgZGF0YS1uYW1lPSJHcm91cGUgMTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMwMi45MDggMjU1Ljk1NikiPgogICAgICA8ZyBpZD0iR3JvdXBlXzUiIGRhdGEtbmFtZT0iR3JvdXBlIDUiIGNsaXAtcGF0aD0idXJsKCNjbGlwLXBhdGgtMikiPgogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfNiIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgNiIgd2lkdGg9IjI2NC42MTIiIGhlaWdodD0iNDk0LjE0MSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUuNzcxIC0wLjAwNykiIGZpbGw9IiNmY2ZiZmMiLz4KICAgICAgPC9nPgogICAgPC9nPgogICAgPGcgaWQ9Ikdyb3VwZV8xMyIgZGF0YS1uYW1lPSJHcm91cGUgMTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM4My4xMDQgNDUyLjg5OSkiPgogICAgICA8ZyBpZD0iR3JvdXBlXzciIGRhdGEtbmFtZT0iR3JvdXBlIDciIGNsaXAtcGF0aD0idXJsKCNjbGlwLXBhdGgtMykiPgogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfNyIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgNyIgd2lkdGg9IjIyNy44MTYiIGhlaWdodD0iMjk4LjEwMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcuMTQyIC0wLjAwNykiIGZpbGw9IiNmY2ZiZmMiLz4KICAgICAgPC9nPgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==");
    background-size: 455px 700px;
    background-repeat: no-repeat;
    background-position: center;
}

.home .section-about-content
{
    display: grid;
    grid-template-columns: 495fr 660fr;
    justify-content: space-between;
    gap: 15%;
}

.home .section-about-content .section-about-left
{
    line-height: 1.2;
    @include help.fontsize(50px);

    .btn
    {
        @include help.fontsize(20px);
    }
}

@media only screen and (max-width:vars.$container-size-fluid)
{
    .home .section.section-about
    {
        padding-top: help.rem(120px);
        padding-bottom: help.rem(100px);
        background-size: 400px 600px;
    }
}

@media only screen and (max-width:vars.$container-size)
{
    .home .section-about-content .section-about-left
    {
        line-height: 1.2;
        @include help.fontsize(40px);
    }

    .home .section-about-content
    {
        gap: help.rem(60px);
    }
}

@media only screen and (max-width:vars.$mobile)
{
    .home .section.section-about
    {
        padding-top: vars.$section-mobile-padding;
        padding-bottom: vars.$section-mobile-padding;
        text-align: center;
    }

    .home .section-about-content
    {
        grid-template-columns: 1fr;
        gap: help.rem(40px);
    }

    .home .section-about-content .section-about-left
    {
        @include help.fontsize(30px);
    }
}