@use "../../variables.scss" as vars;
@use "../../helpers.scss" as help;

.home .section.section-mission
{
    display: grid;
    grid-template-columns: 705fr 550fr;
    gap: 110px;
    //gap: 110px;
    padding-top: help.rem(116px);
    padding-bottom: help.rem(100px);
    align-items: center;
}

.section-mission-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: help.rem(70px);
    @include help.fontsize(24px);
}

.section-mission-item
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: help.rem(20px);
}

.section-mission-item:not(:first-child)::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #707070;
    transform: translateY(-35px);
}

@media only screen and (max-width:vars.$container-size-fluid)
{
    .home .section.section-mission
    {
        grid-template-columns: 1fr 1.3fr;
        gap: 80px;
    }
}

@media only screen and (max-width:vars.$container-size)
{
    .section-mission-content
    {
        font-size: 1rem;
    }
}

@media only screen and (max-width:vars.$tablet)
{
    .home .section.section-mission
    {
        grid-template-columns:1fr 1fr;
        gap: vars.$section-mobile-padding;
    }

    .section-mission-image
    {
        max-width: help.rem(520px);
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width:vars.$mobile)
{
    .home .section.section-mission
    {
        grid-template-columns: 1fr;
        //gap: 110px;
        padding-top: vars.$section-mobile-padding;
        padding-bottom: vars.$section-mobile-padding;
        text-align: center;
    }

    .section-mission-image
    {
        order: 2;
    }
}