/* Variables
========================================================================== */
@use "partials/fonts" as *;
@use "partials/variables" as vars;

/* Helpers & librairie
========================================================================== */
@use "partials/lib/index.scss" as lib;

/* Default
========================================================================== */
@use "partials/resets" as resets;
@use "partials/404.scss" as notFound;
@use "partials/buttons.scss" as buttons;
@use "partials/heading.scss" as headings;
@use "partials/container.scss" as container;
@use "partials/sections/index.scss" as sections;
@use "partials/pages/index.scss" as pages;
@use "partials/animations/index.scss" as animations;

/* Import
========================================================================== */


html 
{
    font-family: vars.$font-family;
    font-size: vars.$font-size;
    line-height: vars.$line-height;
    color: vars.$color;
    font-weight: 400;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: vars.$topbar-height;
}

body
{
    background: vars.$background;
    overflow-x: hidden;
    height:100%;

    &.menu-is-open
    {
        overflow: hidden;
    }
}

body.menu-is-open,
body.popup-open
{
    overflow: hidden;
}

main.main
{
    position: relative;
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

@media only screen and (max-width:vars.$mobile)
{
    html
    {
        font-size: vars.$font-size-mobile;
        line-height: vars.$line-height-mobile;
    }
}