/* Variables
========================================================================== */
@import "partials/fonts";
@import "partials/variables";

/* Helpers & librairie
========================================================================== */
@import "partials/helpers";
@import "partials/lib/index.scss";

/* Reset 
========================================================================== */
@import "partials/resets";

html 
{
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: 400;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: $topbar-height;
}

body
{
    background: $background;
    overflow-x: hidden;
    height:100%;

    &.menu-is-open
    {
        overflow: hidden;
    }
}

body.menu-is-open,
body.popup-open
{
    overflow: hidden;
}

main.main
{
    position: relative;
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

@media only screen and (max-width:$mobile)
{
    html 
    {
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
    }
}

/* Import
========================================================================== */

   @import "partials/404.scss";
   @import "partials/buttons.scss";
   @import "partials/default.scss";
   @import "partials/heading.scss";
   @import "partials/animation.scss";
   @import "partials/section.scss";