@use "../variables.scss" as vars;
@use "../helpers.scss" as help;

footer.footer
{
    position: relative;
    margin-top: help.rem(70px);
    padding-top: help.rem(95px);
}

footer.footer::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: vars.$container-size-fluid;
    width: 100%;
    height: 1px;
    background: rgba($color: #ffffff, $alpha: .2);
}

footer.footer
{
    padding-top: help.rem(vars.$section-mobile-padding);
}

.footer-banner
{
    margin-top: help.rem(170px);
}

.footer-banner + footer.footer,
.section-post-banner + footer.footer
{
    border:none;
    margin-top: 0 !important;
}

.footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: help.rem(60px);
    padding-top: help.rem(80px);
    padding-bottom: help.rem(100px);
}

.footer-logo
{
    flex: none;

    img { max-width: help.rem(245px);
    width: 100%;}
}

.footer-address
{
    max-width: help.rem(365px);
    width: 100%;
    @include help.fontsize(25px);
}

.footer-schedule
{
    max-width: help.rem(290px);
    width: 100%;
}

.footer-navigation
{
    display: flex;
    list-style: none;
    font-size: 14px;
    gap: help.rem(40px);
    padding-bottom: help.rem(30px);
}

@media only screen and (max-width:vars.$container-size-fluid)
{
    .footer-address
    {
        @include help.fontsize(26px);
    }

    .footer-banner
    {
        margin-top: help.rem(100px);
    }
}

@media only screen and (max-width:vars.$container-size)
{
    .footer
    {
        text-align: center;
    }

    .footer-content
    {
        flex-wrap: wrap;
    }

    .footer-logo
    {
        flex-basis: 100%;
        max-width: unset;
        align-self: center;
        img {  margin-left: auto;margin-right: auto; }
    }

    .footer-address, .footer-schedule, .footer .btn
    {
        flex-basis: 30%;
        max-width: 33%;
    }
}

@media only screen and (max-width:vars.$mobile)
{
    footer.footer
    {
        padding-top: help.rem(vars.$section-mobile-padding);
    }

    .footer-banner
    {
        margin-top: help.rem(vars.$gap);
    }

    .footer-address, .footer-schedule, .footer .btn
    {
        flex-basis: 100%;
        max-width: 100%;
    }

    .footer-content
    {
        padding-top: help.rem(vars.$section-mobile-padding);
        flex-direction: column;
        text-align: center;
    }

    .footer-navigation
    {
        justify-content: center;
    }
}