@use "../variables.scss" as vars;
@use "../helpers.scss" as help;

@use "arrow" as arrow;

@use "navbar/navbar" as navbar;
@use "navbar/navbar-button" as navbar-button;

@use "footer-banner" as footer-banner;
@use "footer" as footer;

.section
{
    overflow: hidden;
}

.section-dark
{
    background: vars.$background-secondary;
    color: vars.$white;
}

.section-primary
{
    background: vars.$primary;
    color: vars.$white;
}
